body {
  box-sizing: border-box;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
}

.box {
  height: 100%;
  width: 100%;
}

#box1 {
  background-color: yellow;
}
#box2 {
  background-color: blue;
}
#box3 {
  background-color: red;
}

.carousel {
  background-color: #cccccc;
  height: 410px;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
}

.carousel__inner {
  height: 100%;
  background-color: peru;
  position: relative;
}

.carousel__item {
  position: absolute;
  left: -100%;
}

.carousel__item.active {
  left: 0;
  transition: left 2s ease-out;
}

.active.left {
  left: -100%;
  transition: left 2s ease-out;
}

.active.right {
  left: 100%;
  transition: left 2s ease-out;
}

.next.left {
  left: 100%;
}

.next.right {
  left: -100%
}


img {
  width: 100%;
}
