:root {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  box-sizing: border-box;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.box {
  height: 100%;
  width: 100%;
}


.carousel {
  background-color: #cccccc;
  height: 410px;
  max-width: 800px;
  margin: auto;
  overflow: hidden;

  display: flex;
  justify-content: space-between;

  position: relative;
}

.carousel__button {
  width: 11%;
  background-image: linear-gradient( 90deg, rgba(255, 255, 255, 0.2), rgba(0,0,0, 0));
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  user-select: none;

  font-size: 3rem;
  color: #000033;
  font-weight: bold;

  z-index: 100;
}

.carousel__button:hover {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.5), rgba(0,0,0,0));
  transition: background-image 0.3s linear;
}

.carousel__button.right {
  transform: rotate(180deg);
}

.carousel__indicators {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  width: 20%;
  height: 0.6rem;
  margin-bottom: 1rem;
  align-self: flex-end;
  z-index: 100;
}


.carousel__indicators li {
  cursor: pointer;
  height: 100%;
  border: 1px solid #000033;
  border-radius: 50%;
  width: 0.6rem;
  position: relative;
}

.carousel__indicators li:hover {
  background-color: rgba(190, 190, 190, 0.5);
}


.carousel__indicators li.active {
  background-image: url("IMG/footprint.png");
  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  height: 200%;
  width: 1rem;
}

.carousel__inner {
  height: 100%;
  width: 100%;
  background-color: #ffeeaa;
  color: #000033;
  position: absolute;

  z-index: 40;

}

.carousel__item {
  position: absolute;
  left: -100%;
  padding: 1.5rem 5rem;
  font-size: 1.3rem;
}

.carousel__item.active {
  left: 0;
  transition: left 0.5s linear;
}

.active.left {
  left: -100%;
  transition: left 0.5s linear;
}

.active.right {
  left: 100%;
  transition: left 0.5s linear;
}

.next.left {
  left: 100%;
}

.next.right {
  left: -100%
}

.carousel__item img {
  height: 67%;
  margin: 0.5rem;
  width: 45%;
  float: right;
}
