:root {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  box-sizing: border-box;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


h2 {
  margin-bottom: 1rem;
  text-align: center;
}


.carousel {
  background-color: #cccccc;
  max-width: 800px;
  margin: auto;
  position: relative;
}

.ui-elements-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.carousel__button {
  width: 11%;
  background-image: linear-gradient( 90deg, rgba(255, 255, 255, 0.2), rgba(0,0,0, 0));
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  user-select: none;

  font-size: 3rem;
  color: #000033;
  font-weight: bold;

  z-index: 100;
}

.carousel__button:hover {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.5), rgba(0,0,0,0));
  transition: background-image 0.3s linear;
}

.carousel__button.right {
  transform: rotate(180deg);
}

.carousel__indicators {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  width: 20%;
  height: 0.6rem;
  margin-bottom: .5rem;
  align-self: flex-end;
  z-index: 100;
}


.carousel__indicators li {
  cursor: pointer;
  height: 100%;
  border: 1px solid #000033;
  border-radius: 50%;
  width: 0.6rem;
  position: relative;
}

.carousel__indicators li:hover {
  background-color: rgba(190, 190, 190, 0.5);
}


.carousel__indicators li.active {
  background-image: url("IMG/footprint.png");
  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  height: 200%;
  width: 1rem;
}

.carousel__inner {
  width: 100%;
  background-color: #ffeeaa;
  color: #000033;
  overflow: hidden;
  position: relative;
  z-index: 40;

}

.carousel__item {
  position: absolute;
  padding: 1rem 0;
  left: -100%;
  font-size: 1.3rem;
  top: 0;
  width: 100%;
  height: calc(100% - 1.5rem);
}

.carousel__item.first {
  position: relative;
  margin-bottom: 1.5rem;
  height: initial;
}

.carousel__item.active {
  left: 0;
  transition: left 0.5s linear;
}

.active.left {
  left: -100%;
  transition: left 0.5s linear;
}

.active.right {
  left: 100%;
  transition: left 0.5s linear;
}

.next.left {
  left: 100%;
}

.next.right {
  left: -100%
}

.image-container {
  width: 100%;
  margin: 1rem 0;
  position: relative;
  top: 0;
}
.image-container::before {
  content: "";
  display: block;
  padding-top: 78%;
}

.carousel__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel__item p {
  margin: 0 3.5rem ;
}

@media (min-width: 1024px) {
  .carousel__item {
    padding: 1rem 4rem;
  }

  .image-container {
    margin: 0 1rem;
    width: 45%;
    float: right;
  }
}
